<div class="row justify-content-center mb-4">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="https://bkleinberg.net/" target="_blank">
            <img class="speaker-pic img-fluid mb-2" src="{{ "/assets/img/bennett.jpg" | prepend:site.baseurl }}">
        </a>
        <div class="speaker-name text-center">
            <a href="https://bkleinberg.net/">Dr. Bennett Kleinberg</a>
            <h6>Tilburg University</h6>
        </div>
    </div>
</div>
