<div class="row justify-content-center mb-4">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="https://bkleinberg.net/" target="_blank">
            <img class="speaker-pic img-fluid mb-2" src="{{ "/assets/img/bennett.jpg" | prepend:site.baseurl }}">
        </a>
        <div class="speaker-name text-center">
            <a href="https://leibniz-psychology.org/en/profile-kai-sassenberg">Dr. Bennett Kleinberg</a>
            <h6>Tilburg University</h6>
        </div>
        <div class="speaker-about mt-2 text-center">
            <p>Dr Bennett Kleinberg is an Associate Professor in Behavioural Data Science at the Department of Methodology and Statistics at Tilburg University (The Netherlands) and the Department of Security and Crime Science at University College London (UK). He previously held a position at the UCL Dawes Centre for Future Crime and obtained his PhD from the Department of Psychology at the University of Amsterdam. His research revolves around the interplay and advancement of computational methods and psychological research to study human behaviour. With his lab, he seeks to answer two questions: (1) How can computational methods enhance our understanding of human behaviour? (2) How can psychological research methods inform our understanding of computational model behaviour? Substantive research interests include deception detection, human resilience, and machine behaviour. Methodologically, his work examines the nexus between textual data and psychological processes. His lab employs methods from experimental psychological research, Natural Language Processing, (adversarial) machine learning and statistical modelling. He is also an active contributor to the open science community.</p>
        </div>
    </div>
</div>
